<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <span class="material-icons">calculate</span>
    </div>
    <mat-card-title>Calculator</mat-card-title>
    <mat-card-subtitle>Material-Angular-style</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p class="memory">M=55</p>
    <p class="lastCalc">55</p>
    <p class="newCalc">2&times;5</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="warn">ON</button>
    <button mat-raised-button color="warn">OFF</button>
    <button mat-raised-button color="accent">M +</button>
    <button mat-raised-button color="accent">M -</button>
    <button mat-raised-button color="accent">MCL</button>

    <button mat-raised-button color="primary">7</button>
    <button mat-raised-button color="primary">8</button>
    <button mat-raised-button color="primary">9</button>
    <button mat-raised-button color="accent">&radic;</button>
    <button mat-raised-button color="accent">CE</button>

    <button mat-raised-button color="primary">4</button>
    <button mat-raised-button color="primary">5</button>
    <button mat-raised-button color="primary">6</button>
    <button mat-raised-button color="accent">&times;</button>
    <button mat-raised-button color="accent">&#247;</button>

    <button mat-raised-button color="primary">1</button>
    <button mat-raised-button color="primary">2</button>
    <button mat-raised-button color="primary">3</button>
    <button mat-raised-button color="accent">-</button>
    <button mat-raised-button color="accent" class="equals">=</button>

    <button mat-raised-button color="primary">0</button>
    <button mat-raised-button color="primary">.</button>
    <button mat-raised-button color="accent">+ / -</button>
    <button mat-raised-button color="accent">+</button>
    <!-- <button mat-raised-button color="accent">=</button> -->
  </mat-card-actions>
</mat-card>
